$text-color:#383838;
$normal-font-size:14px;
$title-font-size:16px;
$normal-font-weight:400;
$bold-font-weight:600;
$link-color:#F26735;
$primary-btn:#F26735;
$main-border-color:#e8e8e8;
$lg-icon:32px;
$panel-box-padding:12px;
